.contacts {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-right: 30px;
}

form input {
    padding: 0 20px;
    font-size: 14px;
    color: #9a9a9a;
    line-height: 1.8;
    margin-bottom: 30px;
    border: solid 1px rgba(0, 0, 0, .1);
}

form input::placeholder {
    font-size: 12px;
    color: #cdcdcd;
    text-transform: uppercase;
} 

.form-top {
    display: flex;
    justify-content: space-between;
}

.form-top input {
    width: 40%;
    height: 40px;
}

.input-obj {
    width: 92.5%;
    height: 40px;
}

form textarea {
    height: 150px;
    padding: 15px 20px;
    font-size: 14px;
    color: #9a9a9a;
    line-height: 1.8;
    border: solid 1px rgba(0, 0, 0, .1);
    font-family: inherit;
}

form textarea::placeholder {
    font-size: 12px;
    color: #cdcdcd;
    text-transform: uppercase;
    font-family: inherit;
} 

.form-but {
    width: 145px;
    background: #ffbf00;
    padding: 10px 50px;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    border:0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.form-but:hover {
    background:#e4ab00;
}



.contact-me {
    width: 50%;
}

.contact-me h3 {
    text-transform: uppercase;
    color: #393939;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}

.contact-me span {
    color: #ffbf00;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}

.contact-me p {
    line-height: 1.8;
    color: #999;
    margin: 30px 0 10px;
    font-size: 14px;
}

.address {
    display: flex;
    justify-content: start;
    margin-top: 20px;
}

.tel {
    display: flex;
    justify-content: start;
    margin-right: 20px;
}

.tel i {
    display: block;
    width: 30px;
    height: 30px;
    background: #ffbf00;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    color: #fff;
    font-size: 21px;
}

.tel p {
    line-height: 1.8;
    color: #999;
    font-size: 14px;
    margin: 4px 0 0 0;
}

form input, textarea:focus {
    outline: none;
}






@media (max-width: 1210px) {
    
    .contacts {
    width: 90%;
    } 
}

@media (max-width: 900px) {
    
   .contacts {
    flex-direction: column;
}
    form {
    width: 100%;
    }
    .input-obj {
    width: 87.5%;
    }
    .contact-me {
    width: 100%;
}
    
    .contact-me h3 {
    text-align: center;
    }
    .contact-me span {
    text-align: center;
    }
    .contact-me p {
        text-align: center;
    }
    .address {
    flex-direction: column;
}
    .tel {
    margin: 10px;
    }
    .banner_about h1 {
    font-size: 50px !important;
    }
}
    
    
    
    