.banner {
    background: url(../img/service_main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 335px;
}

.banner_menu {
    padding-top: 35px;
}

.banner_menu a {
    font-family: 'Lato', sans-serif;
   font-weight: 300;
font-size: 13px;
line-height: 20px;
color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.banner_menu_1 {
    padding-right: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.banner_menu_2 {
     padding-right: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.banner h1 {
    margin: 65px 0 30px;
    font-weight: normal;
font-size: 40px;
line-height: 50px;
letter-spacing: 0.01em;
color: rgba(0, 0, 0, 0.9);
}

.banner button {
    width: 200px;
height: 50px;
    background: #DEC377;
    font-weight: bold;
font-size: 13px;
line-height: 30px;
align-items: center;
text-align: center;
letter-spacing: 0.08em;
text-transform: uppercase;
color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    outline: none;
}

.banner button:hover {
    background: #bb9836;
}





.menu_slider {
    background: #E5E5E5;
    height: 79px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.menu_points {
    display: flex;
    justify-content: flex-end;
    padding-top: 35px;
}

.menu_points a {
   font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 25px;
letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    margin-left: 20px;
    transition: 0.2s;
    padding: 0 5px 15px;
}

.menu_points a:hover {
   color: #DEC377; 
    border-bottom: 5px solid #DEC377;
}






.serv_slider {
    background: #E5E5E5;
    padding-top: 80px;
    height: 1350px;
    position: relative;
}

.serv_slider h3 {
   font-weight: normal;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: rgba(0, 0, 0, 0.5);
}

.serv_slid_container {
    height: 970px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
}

.serv_slid_block {
    display: flex;
    justify-content: space-between;
}


.serv_slid_card {
    background: white;
    width: 570px;
height: 170px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
}

.serv_slid_card_text {
    padding: 25px 0 25px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.serv_slid_card_text h4 {
    width: 380px;
   font-weight: normal;
font-size: 20px;
line-height: 30px;
color: rgba(0, 0, 0, 0.9);
}

.serv_slid_card_text a {
    font-family: 'Lato', sans-serif;
  font-weight: 600;
font-size: 12px;
line-height: 20px;
letter-spacing: 0.02em;
text-transform: uppercase;
color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}


.serv_slid_card img {
    width: 60px;
    height: 60px;
    margin: 25px 25px 0 0;
}

.serv_slid_num {
    width: 100px;
    margin: 40px auto 0;
     display: flex;
    justify-content: space-between;
}

.serv_slid_num a {
    width: 33.3333%;
    font-weight: bold;
font-size: 16px;
line-height: 25px;
align-items: center;
text-align: center;
letter-spacing: 0.02em;
color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    transition: 0.2s;
}

.serv_slid_num a:hover {
    color: rgba(0, 0, 0, 0.9);
}

.advertising {
    width: 1170px;
    position: absolute;
    height: 200px;
    background: url(../img/advertising.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: -43px;
}





.data {
    padding-top: 125px;
}

.data h3 {
   font-weight: normal;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: rgba(0, 0, 0, 0.5);
}

.data p {
    font-family: 'Lato', sans-serif;
   font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 25px;
color: rgba(0, 0, 0, 0.8);
    width: 770px;
    margin: 40px 0 30px;
}

.data_services {
    display: flex;
    justify-content: space-between;
}


.data_list h5 { 
    width: 570px;
    font-family: 'Lato', sans-serif;
font-weight: 600;
font-size: 17px;
line-height: 30px;
letter-spacing: 0.01em;
color: rgba(0, 0, 0, 0.75);
}

.data_list_container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.data_list ul { 
    margin-left: 80px;
    list-style-image: url('../img/data_marker.png');
}

.data_list ul li { 
    margin-bottom: 25px;
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
   font-weight: 300;
font-size: 15px;
line-height: 25px;
color: rgba(0, 0, 0, 0.8);
}


.data_services_text {
    width: 370px;
height: 225px;
    margin-left: 130px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.data_services_text p {
    margin: 0;
    width: 270px;
    padding: 37px 50px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
font-size: 15px;
line-height: 25px;
color: rgba(0, 0, 0, 0.8);
}






.tagline {
    margin-top: 75px;
    height: 120px;
    background: url(../img/tagline.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

.tagline_container {
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}


.tagline_text {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}

.tagline_text p {
    font-weight: normal;
font-size: 26px;
line-height: 45px;
color: #FFFFFF;
}

.tagline_text button {
    font-weight: bold;
font-size: 13px;
line-height: 30px;
align-items: center;
text-align: center;
letter-spacing: 0.08em;
text-transform: uppercase;
color: #FFFFFF;
    width: 300px;
height: 50px;
    background: #DEC377;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tagline_text button:hover {
    background: #ac8e39;
}







.registr {
    background: #E5E5E5;
    padding-top: 80px;
}

.registr h4 {
    font-weight: normal;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: rgba(0, 0, 0, 0.5);
}

.registr h2 {
    font-weight: normal;
font-size: 28px;
line-height: 40px;
letter-spacing: 0.03em;
color: rgba(0, 0, 0, 0.9);
    margin: 40px 0 30px;
}

.registr h5 {
    font-family: 'Lato', sans-serif;
   font-weight: 600;
font-size: 17px;
line-height: 30px;
letter-spacing: 0.01em;
color: rgba(0, 0, 0, 0.75);
}

.registr_list {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.registr_list_block {
    width: 50%;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.registr_list_point {
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.registr_list_point img {
    width: 70px;
    height: 70px;
}


.registr_list_point p {
    width: 470px;
    font-family: 'Lato', sans-serif;
   font-weight: 300;
font-size: 15px;
line-height: 25px;
align-items: center;
color: rgba(0, 0, 0, 0.8);
}

.registr_list_block.right {
    margin-right: 0;
}




.registr_doc_tit {
    margin: 70px 0 30px;
}

.registr_doc_text {
    width: 670px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
font-size: 15px;
line-height: 25px;
color: rgba(0, 0, 0, 0.8);
}

.registr_doc {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    background: white;
}

.registr_doc img {
    width: 370px;
}

.reg_doc_list h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
font-size: 17px;
line-height: 30px;
letter-spacing: 0.01em;
color: rgba(0, 0, 0, 0.75);
    margin: 40px 0 0 70px;
}

.reg_doc_list ul {
    width: 630px;
    margin: 30px 0 0 110px;
   list-style-image: url('../img/data_marker.png');
}

.reg_doc_list ul li {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
font-size: 15px;
line-height: 25px;
align-items: center;
color: rgba(0, 0, 0, 0.8);
padding-left: 20px;
    margin-bottom: 25px;
}


.reg_aspects {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.reg_aspects_tit {
    width: 340px;
}

.reg_aspects_list {
    width: 770px;
    background: white;
    position: relative;
    padding-bottom: 25px;
}

.reg_aspects_list h5 {
   font-family: 'Lato', sans-serif;
    font-weight: 600;
font-size: 17px;
line-height: 30px;
letter-spacing: 0.01em;
color: rgba(0, 0, 0, 0.75);
    margin: 40px 0 0 40px;
}

.reg_aspects_list ul {
   width: 630px;
    margin: 30px 0 0 80px;
   list-style-image: url('../img/data_marker.png');
}

.reg_aspects_list ul li {
   font-family: 'Lato', sans-serif;
    font-weight: 300;
font-size: 15px;
line-height: 25px;
align-items: center;
color: rgba(0, 0, 0, 0.8);
padding-left: 20px;
    margin-bottom: 25px;
}

.serv_photo_line {
    margin-top: 100px;
    height: 100px;
    background: url(../img/serv_photo_line.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}








.serv_order {
    padding-top: 80px;
}

.serv_order h3 {
   font-weight: normal;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: rgba(0, 0, 0, 0.5);
}

.serv_order h2 {
   font-weight: normal;
font-size: 28px;
line-height: 40px;
letter-spacing: 0.03em;
color: rgba(0, 0, 0, 0.9);
    width: 765px;
    margin: 40px 0 30px;
}

.serv_order p {
    font-family: 'Lato', sans-serif;
   font-weight: 600;
font-size: 17px;
line-height: 30px;
letter-spacing: 0.01em;
color: rgba(0, 0, 0, 0.75);
    width: 670px;
}

.serv_order h4 {
   font-weight: normal;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: rgba(0, 0, 0, 0.5);
    margin: 40px 0;
}


.serv_advantages {
    display: flex;
    justify-content: space-between;
    height: 310px;
    padding-bottom: 100px;
}

.serv_adv_card {
    width: 270px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
border-radius: 5px;
}

.serv_adv_card img {
    display: block;
    height: 120px;
    margin: 50px auto 25px;
}

.serv_adv_card p {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
font-size: 16px;
line-height: 25px;
text-align: center;
letter-spacing: 0.02em;
color: rgba(0, 0, 0, 0.75);
    width: 230px;
    margin: 0 auto;
}






.service_contacts {
    padding-top: 100px;
    background: #E5E5E5;
}

.servive_form {
    display: flex;
    justify-content: space-between;
}

.servive_form img {
    width: 570px;
height: 365px;
}

.service_tel {
    position: relative;
    height: 395px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.service_tel img {
display: block;
    position: absolute;
    top: 56px;
right: 86px;
}

.serv_tel_container {
    padding: 40px 0 0 60px;
}

.serv_tel_tit {
    font-weight: 300;
font-size: 15px;
line-height: 25px;
color: rgba(0, 0, 0, 0.8);
}

.serv_tel {
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 251px;
    padding-bottom: 4px;
}

.serv_tel_text {
    font-weight: 300;
font-size: 15px;
line-height: 25px;
color: rgba(0, 0, 0, 0.8);
    width: 500px;
    margin: 30px 0 20px;
}

.serv_tel_container button {
    font-weight: bold;
font-size: 13px;
line-height: 30px;
align-items: center;
text-align: center;
letter-spacing: 0.08em;
text-transform: uppercase;
color: #DEC377;
    border: 3px solid #DEC377;
    width: 200px;
    height: 45px;
    background: #E5E5E5;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.serv_tel_container button:hover {
    color: white;
    background: #DEC377;
    border: none;
}



















@media (max-width: 1500px) {
    
  .serv_slid_card {
    width: 48.5%;
    }
    
   .serv_slid_card_text {
    width: 70%;
    }
    
    .serv_slid_card_text h4 {
    width: 100%;
    }
    
    .advertising {
    width: 1000px;
    }
    
   .registr_list_block {
    width: 48%;
    }
    
    .registr_list_point p {
    width: 80%;
    }
    
    .registr_doc img {
    width: 30%;
}
    
    .reg_doc_list h5 {
    width: 80%;
    margin: 40px 0 0 50px;
}
    
    .reg_doc_list ul {
    width: 80%;
    margin: 30px 0 40px 90px;
    }
    
    .registr h2 {
    font-size: 23px;
    line-height: 33px;
        width: 33%;
}
    
    .reg_aspects_list {
    width: 67%;
    }
    
    .reg_aspects_list h5 {
    width: 88%;
}
    
    .reg_aspects_list ul {
    width: 78%;
    }
    
    .serv_adv_card {
    width: 23%;
    }
    
    .serv_adv_card p {
    width: 92%;
    }
    
    .servive_form img {
    width: 51%;
    height: auto;
    }
}



















@media (max-width: 1285px) {
    
    .banner h1 {
    margin: 55px 0 35px;
    font-size: 35px;
}
    
    .banner button {
    width: 170px;
    height: 36px;
    font-size: 11px;
}
    
    .serv_slid_card_text h4 {
    font-size: 16px;
    line-height: 24px;
}
    
    .serv_slider {
    padding-top: 60px;
        height: 1310px;
    }
    
    .advertising {
    width: 80%;
}
    
   .data {
    padding-top: 110px;
}
    
    .data_list ul {
    margin-left: 60px;
    width: 60%;
}
    
    .data_services_text {
    width: 40%;
    height: 215px;
    margin-left: 67px;
}
    
 .data_services_text p {
    margin: 0 auto;
    width: 80%;
    padding: 20px 0px;
}   
    
   .tagline {
    margin-top: 50px;
    }
    
    .tagline_text {
    align-items: center;
    padding: 25px 0;
}
    
   .tagline_text p {
    width: 60%;
    font-size: 23px;
    line-height: 30px;
} 
    
    .tagline_text button {
    font-size: 12px;
    width: 250px;
    height: 40px;
}
    
    .registr {
    padding-top: 60px;
}
    
    .registr h2 {
    width: 100%;
}
    
    .registr_list_point img {
    margin-right: 15px;
    }
    
    .reg_doc_list h5 {
    width: 90%;
    margin: 20px 0 0 30px;
        font-size: 15px;
    line-height: 22px;
}
    
    .reg_doc_list ul {
    width: 84%;
    margin: 30px 0 30px 53px;
}
    
    .reg_doc_list ul li {
        font-size: 13px;
    line-height: 21px;
    } 
    
    .reg_aspects {
    margin-top: 80px;
    }
    
    .registr h2.reg_aspects_tit {
        margin: 40px 20px 30px 0;
        width: 33%;
        font-size: 20px;
    line-height: 30px;
    }
    
    .reg_aspects_list {
    width: 62%;
}
    
    .reg_aspects_list h5 {
    font-size: 14px;
    line-height: 25px;
    margin: 40px 0 0 40px;
}
    
    .reg_aspects_list ul {
    margin: 20px 0 0 60px;
}
    
   .reg_aspects_list ul li {
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 20px;
} 
    
  .serv_photo_line {
    margin-top: 80px;
    }
    
    .serv_advantages {
    height: 228px;
    padding-bottom: 80px;
}
    
    .serv_adv_card img {
    height: auto;
    margin: 20px auto 25px;
    width: 100%;
}
    
    .serv_adv_card p {
    font-size: 13px;
    line-height: 19px;
    }
    
    .service_contacts {
    padding-top: 80px;
    }
    
  .servive_form img {
    height: 270px;
}
    
    .service_tel img {
        top: 155px;
    right: 45px;
    width: 300px;
    }
}












@media (max-width: 990px) {
    
    .menu_points {
    justify-content: space-between;
}
    
    .menu_points a {
    font-size: 10px;
    }
    
    .menu_points {
    padding-top: 27px;
}
    
   .serv_slid_block {
    flex-direction: column;
    }
    
    .serv_slid_card {
    width: 70%;
    margin: 0 auto 20px;
}
    
   .serv_slider h3 {
    text-align: center;
    }
    
    .serv_slider {
    height: 2200px;
}
    
    .serv_slid_container {
    height: auto;
    }
    
    .serv_slid_num {
    margin: 10px auto 0;
    }
    
    .data p {
        width: 100%;
    }
        
    .data_list_container {
    flex-direction: column;
    }
    
    .data_list ul {
    margin-left: 20px;
    width: 100%;
}
    
    .data_list h5 {
    width: 100%;
    }
    
    .data_services_text {
    width: 100%;
    height: auto;
        margin: 0;
    }
    
    .data_services_text p {
    padding: 20px 20px;
        width: 90%;
    }
    
    .registr_list {
    flex-direction: column;
    }
    
    .registr_list_block {
    width: 100%;
}
    
    .registr_doc img {
    display: none;
    }
    
    .registr_doc_text {
    width: 100%;
    }
    
    .reg_aspects {
    flex-direction: column;
        margin-top: 30px;
    }
    
    .registr h2.reg_aspects_tit {
    width: 100%;
}
    
    .reg_aspects_list {
    width: 100%;
}
    
    .serv_order h2 {
    font-size: 24px;
    line-height: 30px;
    margin: 40px 0 30px;
        width: 100%;
}
    
    .serv_advantages {
    flex-direction: column;
        height: auto;
        padding-bottom: 50px;
    }
    
    .serv_order h4 {
    text-align: center;
    }
    
    .serv_order p {
        width: 100%;
    }
    
    .serv_adv_card {
    margin: 0 auto;
    width: 40%;
        height: auto;
}
    
    .serv_adv_card p {
    margin-bottom: 30px;
        width: 90%;
    }
    
    .servive_form {
    flex-direction: column;
    }
    
    .servive_form img {
    width: 100%;
    height: auto;
        margin-bottom: 30px;
}
    
    .service_tel {
    height: auto;
    }
    
    .serv_tel_container {
    padding: 30px;
}
    
    .serv_tel {
        width: 50%;
    }
    
    .serv_tel_tit {
    width: 100%;
    }
    
    .serv_tel_text {
    width: 100%;
    }  
    
     .service_tel img {
      display: none;
    }
}














@media (max-width: 599px) {
    
    .menu_slider {
    height: auto;
    }
    
    .menu_points {
    flex-direction: column;
}
    
   .menu_points a {
    text-align: center;
       margin: 0;
    }
    
    .serv_slider {
    height: auto;
}
    
    .serv_slid_card {
    width: 100%;
    }
    
    .serv_slid_card_text {
    padding: 25px;
    }
    
    .serv_slid_card_text h4 {
    font-size: 14px;
    line-height: 24px;
}
    
    .serv_slid_card_text a {
    font-size: 10px;
    line-height: 20px;
    }
    
    
    .advertising {
    width: 100%;
    position: static;
    height: 100px;
    background-size: contain;
}
    
    .data {
    padding-top: 50px;
}
    
    .tagline_text {
    flex-direction: column;
    }
    
    .tagline {
    height: auto;
    }
    
    .tagline_text p {
    width: 100%;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}
    
    .tagline_text button {
    margin-top: 20px;
    }
    
    .registr h2 {
    font-size: 21px;
    }
    
    .registr_list_point img {
    width: 30px;
    height: 30px;
}
    
    .registr_list_point p {
    font-size: 12px;
    line-height: 18px;
    }
    
    .reg_doc_list ul li {
    font-size: 10px;
    line-height: 17px;
        padding-left: 8px;
}
    
    .reg_doc_list h5 {
    text-align: center;
    margin: 20px auto;
    width: 90%;
}
    
    .reg_doc_list ul {
    padding: 0 20px;
    width: 80%;
    margin: 0 auto;
}
    
    .registr h2.reg_aspects_tit {
    font-size: 21px;
    }
    
    .reg_aspects_list h5 {
    text-align: center;
    width: 90%;
    margin: 50px auto 30px;
}
    
    .reg_aspects_list ul {
    margin: 0 auto;
    width: 80%;
}
    
   .serv_photo_line {
    margin-top: 50px;
       height: 50px;
} 
    
   .serv_order {
    padding-top: 50px;
} 
    
    .serv_order h2 {
    font-size: 20px;
    line-height: 27px;
    }
    
    .serv_order p {
    line-height: 27px;
    }
    
    .serv_adv_card {
    width: 70%;
    }
    
    .service_contacts {
    padding-top: 50px;
}
    
    .serv_tel {
    width: 60%;
}
}








@media (max-width: 300px) {
.serv_slid_card_text h4 {
    font-size: 9px;
    line-height: 19px;
}
    
    .serv_tel_container {
    padding: 12px;
}
}











































































































































